# Database
DATABASE_URL="mysql://myuser:myuserpassword@localhost:3306/mydatabase"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# GitHub (optional, for development)
GITHUB_TOKEN=""

# Environment
NODE_ENV="development"
